{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Adauga un model
</h1>
<div class="block" style="width: 30%;">

  {% with messages = get_flashed_messages() %}
      {% if messages %}
          {% if 'OK' == messages[0] %}
              <div class="notification is-success">
                SUCCESS!
              </div>
          {% else %}
            <div class="notification is-danger">
                {{ messages[0] }}!
            </div>
          {% endif %}
      {% endif %}
  {% endwith %}

  <form method="POST" action="/add-model">
    <div class="field">
      <label class="label">Username*</label>
      <div class="control">
        <input class="input" type="text" placeholder="e.g. alex_smith2021" name="username" required>
      </div>
    </div>

    <div class="field">
      <label class="label">Email*</label>
      <div class="control">
        <input class="input" type="email" placeholder="e.g. alexsmith@gmail.com" name="email" required>
      </div>
    </div>

    <div class="field">
      <label class="label">Nume</label>
      <div class="control">
        <input class="input" type="text" placeholder="e.g. Smith" name="first_name">
      </div>
    </div>

    <div class="field">
      <label class="label">Prenume</label>
      <div class="control">
        <input class="input" type="text" placeholder="e.g. Alex" name="last_name">
      </div>
    </div>

    <div class="control">
      <button class="button is-link">Submit</button>
    </div>
  </form>

</div>
{% endblock %}