{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Balanta financiara
</h1>
<div class="block" style="width: 80%; overflow: scroll; overflow-x:auto;">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="notification is-info">
              {{ messages[0] }}!
        </div>
        {% endif %}
    {% endwith %}

    <table class="table is-hoverable is-striped">
        <thead>
            <tr>
                <th class="balance_first_row">Data</th>
                <th>LiveJasmin(USD)</th>
                <th>BimBim(USD)</th>
                <th>Stripchat(USD)</th>
                <th>Chaturbate(USD)</th>
                <th>XLove(EUR)</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>TOTAL:</th>
                {% if lj_data %}
                    <th>{{ lj_data['t_all'] }}</th>
                {% else %}
                    <th></th>
                {% endif %}
                {% if bb_data %}
                    <th>{{ bb_data['t_all'] }}</th>
                {% else %}
                    <th></th>
                {% endif %}
                {% if strip_data %}
                    <th>{{ strip_data['t_all'] }}</th>
                {% else %}
                    <th></th>
                {% endif %}
                {% if chaturbate_data %}
                    <th>{{ chaturbate_data['t_all'] }}</th>
                {% else %}
                    <th></th>
                {% endif %}
                {% if xlove_data %}
                    <th>{{ xlove_data['t_all'] }}</th>
                {% else %}
                    <th></th>
                {% endif %}
            </tr>
        </tfoot>
        <tbody>
            {% for key, value in template_data.items() %}
                {% if key == 't_all' %}
                    {% continue %}
                {% endif %}
                <tr>
                    <td>{{key}}</td>
                    <td>
                        <table class="table is-bordered">
                            <thead>
                                <tr>
                                    <th class="interval_table_cell">i1</th>
                                    <th class="interval_table_cell">i2</th>
                                    <th class="interval_table_cell">i3</th>
                                    <th class="interval_table_cell">i4</th>
                                    <th class="interval_table_cell">TOTAL</th>
                                </tr>
                                <tr  class="interval_cell">
                                    {% if lj_data %}
                                        <td>{{ lj_data[key]['i1'].amount }}</td>
                                        <td>{{ lj_data[key]['i2'].amount }}</td>
                                        <td>{{ lj_data[key]['i3'].amount }}</td>
                                        <td>{{ lj_data[key]['i4'].amount }}</td>
                                        <td>{{ lj_data[key]['t_day'] }}</td>
                                    {% else %}
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    {% endif %}
                                </tr>
                            </thead>
                        </table>
                    </td>
                    <td>
                        <table class="table is-bordered">
                            <thead>
                                <tr>
                                    <th class="interval_table_cell">i1</th>
                                    <th class="interval_table_cell">i2</th>
                                    <th class="interval_table_cell">i3</th>
                                    <th class="interval_table_cell">i4</th>
                                    <th class="interval_table_cell">TOTAL</th>
                                </tr>
                                <tr  class="interval_cell">
                                    {% if bb_data %}
                                        <td>{{ bb_data[key]['i1'].amount }}</td>
                                        <td>{{ bb_data[key]['i2'].amount }}</td>
                                        <td>{{ bb_data[key]['i3'].amount }}</td>
                                        <td>{{ bb_data[key]['i4'].amount }}</td>
                                        <td>{{ bb_data[key]['t_day'] }}</td>
                                    {% else %}
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    {% endif %}
                                </tr>
                            </thead>
                        </table>
                    </td>
                    <td>
                        <table class="table is-bordered">
                            <thead>
                                <tr>
                                    <th class="interval_table_cell">i1</th>
                                    <th class="interval_table_cell">i2</th>
                                    <th class="interval_table_cell">i3</th>
                                    <th class="interval_table_cell">i4</th>
                                    <th class="interval_table_cell">TOTAL</th>
                                </tr>
                                <tr  class="interval_cell">
                                    {% if strip_data %}
                                        <td>{{ strip_data[key]['i1'].amount }}</td>
                                        <td>{{ strip_data[key]['i2'].amount }}</td>
                                        <td>{{ strip_data[key]['i3'].amount }}</td>
                                        <td>{{ strip_data[key]['i4'].amount }}</td>
                                        <td>{{ strip_data[key]['t_day'] }}</td>
                                    {% else %}
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    {% endif %}
                                </tr>
                            </thead>
                        </table>
                    </td>
                    <td>
                        <table class="table is-bordered">
                            <thead>
                                <tr>
                                    <th class="interval_table_cell">i1</th>
                                    <th class="interval_table_cell">i2</th>
                                    <th class="interval_table_cell">i3</th>
                                    <th class="interval_table_cell">i4</th>
                                    <th class="interval_table_cell">TOTAL</th>
                                </tr>
                                <tr  class="interval_cell">
                                    {% if chaturbate_data %}
                                        <td>{{ chaturbate_data[key]['i1'].amount }}</td>
                                        <td>{{ chaturbate_data[key]['i2'].amount }}</td>
                                        <td>{{ chaturbate_data[key]['i3'].amount }}</td>
                                        <td>{{ chaturbate_data[key]['i4'].amount }}</td>
                                        <td>{{ chaturbate_data[key]['t_day'] }}</td>
                                    {% else %}
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    {% endif %}
                                </tr>
                            </thead>
                        </table>
                    </td>
                    <td>
                        <table class="table is-bordered">
                            <thead>
                                <tr>
                                    <th class="interval_table_cell">i1</th>
                                    <th class="interval_table_cell">i2</th>
                                    <th class="interval_table_cell">i3</th>
                                    <th class="interval_table_cell">i4</th>
                                    <th class="interval_table_cell">TOTAL</th>
                                </tr>
                                <tr  class="interval_cell">
                                    {% if xlove_data %}
                                        <td>{{ xlove_data[key]['i1'].amount }}</td>
                                        <td>{{ xlove_data[key]['i2'].amount }}</td>
                                        <td>{{ xlove_data[key]['i3'].amount }}</td>
                                        <td>{{ xlove_data[key]['i4'].amount }}</td>
                                        <td>{{ xlove_data[key]['t_day'] }}</td>
                                    {% else %}
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    {% endif %}
                                </tr>
                            </thead>
                        </table>
                    </td>
                </tr>
           {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}