{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Balanta
</h1>
<div class="block" style="width: 70%;">

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
    {% endwith %}

    <form class="box" method="POST" action="/balance">
        <p class="content is-medium"><strong>Selecteza balanta detaliata pentru un model</strong></p>

      <div class="field">

        <!-- select username -->
        <label class="label">Heylux user</label>
        <div class="select">
            <select name="heylux_sel">
              <option>Select user</option>
              {% for item in heylux_models %}
                <option>{{ item }}</option>
              {% endfor %}
            </select>
        </div>
        <hr class="dropdown-divider">
        <!-- select start date -->
        <label class="label" >From:</label>
        <input class="input" type="date" id="from_date" name="from_date" style="width: 250px">

        <!-- select end date -->
        <label class="label" >To:</label>
        <input class="input" type="date" id="to_date" name="to_date" style="width: 250px">
      </div>

      <button class="button is-primary">Submit</button>

    </form>

    <form class="box" method="POST" action="/balance-period">
        <p class="content is-medium"><strong>Selecteza balanta pe perioada</strong></p>
      <div class="field">
        <!-- select username -->
        <label class="label">Selecteaza perioada</label>
        <div class="select">
            <select name="period_sel">
              <option>Select period</option>
              {% for item in periods_str %}
                <option>{{ item }}</option>
              {% endfor %}
            </select>
        </div>

      </div>

      <button class="button is-primary">Submit</button>

    </form>

</div>
{% endblock %}