{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Balanta pe perioada: {{ selected_period }}
</h1>
<p style="color: black;">
    Rata de conversie folosita pentru USD->RON = {{ usd_ron }}
</p><br>
<p style="color: black;">
    Rata de conversie folosita pentru EUR->USD = {{ eur_usd }}
</p><br>

<div class="block" style="width: 80%; overflow: scroll; overflow-x:auto;">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="notification is-info">
              {{ messages[0] }}!
        </div>
        {% endif %}
    {% endwith %}

    <table class="table is-hoverable is-striped">
        <thead>
            <tr>
                <th class="balance_first_row">Heylux Name</th>
                <th class="balance_rest_row">LiveJasmin(USD)</th>
                <th class="balance_rest_row">BimBim(USD)</th>
                <th class="balance_rest_row">Stripchat(USD)</th>
                <th class="balance_rest_row">Chaturbate(USD)</th>
                <th class="balance_rest_row">XLove(EUR)</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th class="balance_first_row">Heylux Name</th>
                <th class="balance_rest_row">LiveJasmin (USD | RON)</th>
                <th class="balance_rest_row">BimBim (USD | RON)</th>
                <th class="balance_rest_row">Stripchat(USD | RON)</th>
                <th class="balance_rest_row">Chaturbate(USD | RON)</th>
                <th class="balance_rest_row">XLove(EUR)</th>
            </tr>
        </tfoot>
        <tbody>
            {% for item in union_data%}
                <tr>
                    <td>{{ item }}</td>
                    <td>
                        {% if item in lj_data %}
                            {{ lj_data[item] }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if item in bb_data %}
                            {{ bb_data[item] }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if item in strip_data %}
                            {{ strip_data[item] }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if item in chat_data %}
                            {{ chat_data[item] }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if item in xlove_data %}
                            {{ xlove_data[item] }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td>TOTAL:</td>
                <td>
                     {{ general_data_vertical['lj_total']|round(2, 'floor') }} (USD) | {{ (general_data_vertical['lj_total'] * usd_ron)|round(1, 'floor')}} (RON)
                </td>
                <td>
                     {{ general_data_vertical['bb_total']|round(2, 'floor') }} (USD) | {{ (general_data_vertical['bb_total'] * usd_ron)|round(1, 'floor')}} (RON)
                </td>
                <td>
                     {{ general_data_vertical['strip_total']|round(2, 'floor') }} (USD) | {{ (general_data_vertical['strip_total'] * usd_ron)|round(1, 'floor')}} (RON)
                </td>
                <td>
                     {{ general_data_vertical['chat_total']|round(2, 'floor') }} (USD) | {{ (general_data_vertical['chat_total'] * usd_ron)|round(1, 'floor')}} (RON)
                </td>
                <td>
                     {{ general_data_vertical_eur['xlove_total']|round(2, 'floor') }} (EUR) | {{ (general_data_vertical_eur['xlove_total'] * eur_usd)|round(1, 'floor')}} (USD) | {{ (general_data_vertical_eur['xlove_total'] * eur_usd * usd_ron)|round(1, 'floor')}} (RON)
                </td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}