<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Base page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <style>
    .menu-label {
        color: #292929;
        font-size: large;
     }

     .menu-list{
        color: dimgrey;
     }

     .navbar-hello{
        color: #f2f2f2;
        font-style: italic;
        font-size: 16px;
     }

     .menu-list a.is-active{
        background-color: #f5f5f5;
     }

     .right-separator{
        box-shadow: 3px 0 lightgrey;
     }

     .menu-no-click{
        padding: .5em .75em;
        display: block;
     }

     .balance_first_row{
        width: 120px;
     }

     .balance_rest_row{
        min-width: 300px;
     }

     .interval_table_cell{
        min-width: 70px;
     }

     .interval_cell{
        height: 41px;
     }
    </style>
</head>

<body>
    <section class="hero is-primary is-fullheight" style="background-color: #dbdbdb">
        <div class="hero-head" style="background-color: #1a8a79; color: #fafafa">
            <nav class="navbar">
                <div class="container">
                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
                            {% if current_user.is_authenticated %}
                            <div class="navbar-item navbar-hello">
                                Hello, {{current_user.name}}
                            </div>
                            {% endif %}
                            <a href="{{ url_for('main.index') }}" class="navbar-item">
                                Home
                            </a>
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('main.profile') }}" class="navbar-item">
                                Profile
                            </a>
                            {% endif %}
                            {% if not current_user.is_authenticated %}
                            <a href="{{ url_for('auth.login') }}" class="navbar-item">
                                Login
                            </a>
                            <a href="{{ url_for('auth.signup') }}" class="navbar-item">
                                Sign Up
                            </a>
                            {% endif %}
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('auth.logout') }}" class="navbar-item">
                                Logout
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body columns" style="align-items: start; margin-top: unset">

            {% block aside_content %}
                <div class="column is-one-fifth is-2 right-separator">
                    <aside class="menu">
                      <p class="menu-label">
                        General
                      </p>
                      <ul class="menu-list">
                        <li><a>Dashboard</a></li>
                        <li><a>Clienti</a></li>
                      </ul>
                        {% if current_user.is_authenticated %}
                            {% if current_user.is_admin() %}
                              <p class="menu-label">
                                Administrare
                              </p>
                              <ul class="menu-list">
                                <li><a>Setarile echipei</a></li>
                                <li>
                                  <p class="menu-no-click">Echipa Heylux</p>
                                  <ul>
                                      <li><a href="{{ url_for('auth.view_all_models') }}">Echipa</a></li>
                                      <li><a href="{{ url_for('auth.add_model') }}">Adaugare in echipa</a></li>
                                      <li><a>Stergere din echipa</a></li>
                                  </ul>
                                </li>
                                <li><a>Actiuni</a>
                                    <ul>
                                        <li><a href="{{ url_for('auth.link_models') }}">Link model</a></li>
                                      <li><a>Unlink model</a></li>
                                    </ul>
                                </li>
                              </ul>
                            {% endif %}
                        {% endif %}
                      <p class="menu-label">
                        Tranzactii
                      </p>
                      <ul class="menu-list">
                        <li><a>Plati</a></li>
                        <li><a>Transfer</a></li>
                        <li><a href="{{ url_for('auth.balance') }}">Balanta</a></li>
                      </ul>
                    </aside>
                </div>
            {% endblock %}

            <div class="column">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>
</body>

</html>