{% extends "base.html" %}

{% block content %}
<!--<h1 class="title">-->
<!--  Flask Login Example-->
<!--</h1>-->
<!--<h2 class="subtitle">-->
<!--  Easy authentication and authorization in Flask.-->
<!--</h2>-->
{% endblock %}