{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Link model
</h1>
<div class="block" style="width: 70%;">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
            {% if 'perfect' == message %}
                <div class="notification is-success">
                  SUCCESS!
                </div>
            {% else %}
              <div class="notification is-warning">
                  {{ message }}!
              </div>
            {% endif %}
        {% endfor %}
      {% endif %}

    {% endwith %}

    <form class="box" method="POST" action="/link-models">
      <div class="field">
        <label class="label">Heylux user</label>
          <div class="select">
            <select name="heylux_sel">
              <option>Select heylux user</option>
              {% for item in models_data['heylux'] %}
                <option>{{ item }}</option>
              {% endfor %}
            </select>
          </div>
      </div>

      <div class="field">
        <label class="label">LiveJasmin users:</label>
        <div class="select">
            <select name="jasmin_sel">
              <option>Select LiveJasmin user</option>
              {% for item in models_data['live_jasmin'] %}
                <option>{{ item }}</option>
              {% endfor %}
            </select>
        </div>
      </div>

      <div class="field">
        <label class="label">BimBim users:</label>
        <div class="select">
            <select name="bimbim_sel">
              <option>Select BimBim user</option>
              {% for item in models_data['bimbim'] %}
                <option>{{ item }}</option>
              {% endfor %}
            </select>
        </div>
      </div>

      <div class="field">
        <label class="label">Stripchat users:</label>
        <div class="select">
            <select name="stripchat_sel">
              <option>Select Stripchat user</option>
              {% for item in models_data['stripchat'] %}
                <option>{{ item }}</option>
              {% endfor %}
            </select>
        </div>
      </div>

      <div class="field">
        <label class="label">Insert charturbate user:</label>

          <div class="field" style="width: 500px; margin-left: 10px">
                <div class="control">
                    <input class="input" name="chaturbate_username" placeholder="Insert chaturbate username">
                </div>
                <div class="control" style="margin-top: 10px">
                    <input class="input" name="chaturbate_apikey" placeholder="Insert chaturbate api key for model">
                </div>
          </div>
      </div>

      <div class="field">
        <label class="label">XLove users:</label>
        <div class="select">
            <select name="xlove_sel">
              <option>Select XLove user</option>
              {% for item in models_data['xlove'] %}
                <option>{{ item }}</option>
              {% endfor %}
            </select>
        </div>
      </div>

      <button class="button is-primary">Submit</button>

    </form>

</div>
{% endblock %}