{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Toate modelele
</h1>
<div class="block" style="width: 70%;">

    <table class="table is-fullwidth is-hoverable">
        <thead>
            <tr>
                <th>Heylux Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>LiveJasmin user</th>
                <th>BimBim user</th>
                <th>Stripchat user</th>
                <th>Chaturbate user</th>
                <th>XLove user</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Heylux Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>LiveJasmin user</th>
                <th>BimBim user</th>
                <th>Stripchat user</th>
                <th>Chaturbate user</th>
                <th>XLove user</th>
            </tr>
        </tfoot>
        <tbody>
            {% for item in models_data %}
            <tr>
                <td>{{ item.username }}</td>
                <td>{{ item.first_name }}</td>
                <td>{{ item.last_name }}</td>
                {% if item.livejasmin_username is none %}
                <td>-</td>
                {% else %}
                <td>{{ item.livejasmin_username }}</td>
                {% endif %}
                {% if item.bimbim_username is none %}
                    <td>-</td>
                    {% else %}
                    <td>{{ item.bimbim_username }}</td>
                {% endif %}
                {% if item.stripchat_username is none %}
                    <td>-</td>
                    {% else %}
                    <td>{{ item.stripchat_username }}</td>
                {% endif %}
                {% if item.chaturbate_username is none %}
                    <td>-</td>
                    {% else %}
                    <td>{{ item.chaturbate_username }}</td>
                {% endif %}
                {% if item.xlove_username is none %}
                    <td>-</td>
                    {% else %}
                    <td>{{ item.xlove_username }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
</table>

</div>
{% endblock %}